body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

/*! Navigation Menu */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* header.active .logo {
    display: none;
} */

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 20px;
    }

    .nav-links.active {
        display: flex;
    }
}