body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

/* Navigation Menu */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding-left: 110px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;

    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 20px;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Home section */

.home {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 199, 128);
    color: black;
    border-bottom: solid 3px black;
}

.max-width {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-content {
    margin-bottom: 25px;
}

.home-picture {
    width: 250px;
    height: 250px;
    /* margin-left: 100px; */
}

.text-1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.text-3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.text-3 span {
    color: red;
    font-weight: bold;
}

/* About Me */

.about {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 199, 128);
    color: black;
    border-bottom: solid 3px black;